.picture {
  padding: 10rem;
  background-color: white;
  background-image: url(../../images/pier.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;

  box-shadow: 0 3000px rgba(0, 0, 0, 0.3) inset;

  /*BIG SIZE BEGINS HERE ********
  padding: 10rem;
  background-color: white;
  background-image: url(../../images/pier.jpg);
  //background-repeat: no-repeat;
  background-size: cover;
  //width: 100px;
  //width: 100%;
  box-shadow: 0 3000px rgba(0, 0, 0, 0.3) inset;
  h1 {
    color: white;
    font-size: 6.429rem;
    font-family: Montserrat;
    letter-spacing: 1.25px;
    font-weight: 500;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    text-align: center;
    //margin: 0 0 20px;
    //padding: 0;
  }

  h2 {
    color: white;
    //font-size: 5rem;
    font-family: Montserrat;
    letter-spacing: 1.25px;
    font-weight: 400;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
    text-align: center;
    //margin: 0 0 50px;
    //padding: 0;
  }

  p {
    color: white;
    font-weight: 400;
    font-family: Montserrat;
    //letter-spacing: 1.25px;
    // font-weight: 400;
    // text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    text-align: center;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
  }

  .view_btn {
    color: white;
    background-color: transparent;
    letter-spacing: 2px;
    border-width: 2px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 2.5;
    border-radius: 8px;
  }

  .download_btn {
    color: white;
    border-color: #00aded;
    background-color: #00aded;
    letter-spacing: 2px;
    //border-width: 2px;
    text-transform: uppercase;
    font-size: 18px;
    //line-height: 1.3333333;
    line-height: 2.5;
    border-radius: 8px;
  }*/
}
